body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.game-container {
  display: flex;
  justify-content: space-evenly;
}

#board {
  display: flex;
  background-color: darkblue;
}

.controls {
  display: flex;
  justify-content: space-evenly;
}

.main-controls {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.player-piece-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 400px;

  #playerPiece {
    margin: auto;
  }
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .modal {
    max-height: 400px;
    margin-top: 75px;
    width: 60%;
    margin-left: 20%;

    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: grey 0 0 5px;

    .modal-title {
      padding: 5px 15px;
      font-weight: bold;
    }

    .modal-content {
      padding: 5px;
    }
  }
}

.new-game-modal {
  margin: 50px 0;

  .controls {
    width: 50%;
    margin-left: 25%;
    margin-top: 40px;
  }
}

.selectable-roundel-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.selectable-roundel-container {
  margin: 10px 30px;
  display: flex;
  align-items: center;

  .selectable-roundel {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: 15px;
  }
}

.game-session {
  padding: 10px;

  pre, input {
    display: inline-flex;
    margin-left: 20px;
  }
}